
<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary">Editar</button>
    <button type="button" class="btn btn-danger">Apagar</button>
    <button type="button" class="btn btn-secondary">Esconder</button>
</div>