@model ContatoModel

<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" required asp-for="Nome" class="form-control" aria-describedby="nomeHelp" placeholder="Digite o Nome">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" required asp-for="Email" class="form-control" placeholder="Digite o Email">
    @Html.ValidationMessageFor(x => x.Email)    
</div>