
@model HomeModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    
    <h1 class="display-4">Olá, @Model.Nome</h1>
    <span>Seu email: @Model.Email</span>
    
    <p>Sistema de Controle</p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div role="alert" class="alert alert-success">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        Bem vindo ao site!
    </div>

</div>
