@model ContatoModel
@{
    ViewData["Title"] = "Criar Contato";
}
<h1>Adicionar Novo Contato</h1>

<form asp-controller="Contato" asp-action="Criar" method="post">

    <partial name="_Formulario"/>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>